
3.Background_Process/Submission2/app/src/main/java/com/onedev/dicoding/submission_two/di/RetroModule.kt
3.Background_Process/MyViewModel/app/src/main/java/com/onedev/dicoding/myviewmodel/MainViewModel.kt
Submission3/app/build.gradle
3.Background_Process/Submission2/app/build.gradle
